{{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-outline-secondary" href="{{ path('app_welcome') }}">Annuler</a>
    <button class="btn btn-outline-success">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
