{% extends 'base.html.twig' %}

{% block title %}Incident index{% endblock %}

{% block body %}
    <h1>Incident index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>ReporterEmail</th>
                <th>Reference</th>
                <th>ProcessedAt</th>
                <th>ResolveAt</th>
                <th>RejectedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>{{ incident.createdAt ? incident.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ incident.description }}</td>
                <td>{{ incident.reporterEmail }}</td>
                <td>{{ incident.reference }}</td>
                <td>{{ incident.processedAt ? incident.processedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ incident.resolveAt ? incident.resolveAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ incident.rejectedAt ? incident.rejectedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backoffice_incident_show', {'id': incident.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_incident_edit', {'id': incident.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_incident_new') }}">Create new</a>
{% endblock %}
