{% extends 'base.html.twig' %}

{% block title %}Incident{% endblock %}

{% block body %}
    <h1>Incident</h1>

    {# read and display several types of flash messages #}
    {% for label, messages in app.flashes(['error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ incident.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ incident.createdAt ? incident.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ incident.description }}</td>
            </tr>
            <tr>
                <th>ReporterEmail</th>
                <td>{{ incident.reporterEmail }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ incident.reference }}</td>
            </tr>
            <tr>
                <th>ProcessedAt</th>
                <td>{{ incident.processedAt ? incident.processedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ResolveAt</th>
                <td>{{ incident.resolveAt ? incident.resolveAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>RejectedAt</th>
                <td>{{ incident.rejectedAt ? incident.rejectedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if not incident.processedAt and not incident.rejectedAt %}
        <a class="btn btn-primary" href="{{ path('app_backoffice_incident_process',{'id':incident.id}) }}">Begin processing incident</a>
    {% endif %}
    {% if incident.processedAt and not incident.resolveAt and not incident.rejectedAt %}
        <a class="btn btn-success" href="{{ path('app_backoffice_incident_resolve',{'id':incident.id}) }}">Mark as resolved</a>
    {% endif %}

    {% if not incident.rejectedAt and not incident.resolveAt %}
        <a class="btn btn-danger" href="{{ path('app_backoffice_incident_reject',{'id':incident.id}) }}">Mark as Rejected</a>
    {% endif %}

    <a class="btn btn-danger" href="{{ path('app_backoffice_incident_index') }}">Back to list</a>


{% endblock %}
